.cookies {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    max-width: $index;
    background-color: $cookies;
    @include translateX(-50%);
    z-index: 1;
}

.cookies .container {
    width: 100% !important;
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
}

.cookies .container p {
    margin-top: 0;
    font-size: 0.875em;
    line-height: 1.5;
}

.cookies a#cookie-know-button {
    display: inline-block;
    padding: 0.625em 1.25em;
    color: $white;
    font-size: 0.875em;
    text-align: center;
    line-height: 1;
    background-color: $gray-300;
    border: 1px solid $gray-300;
}

.cookies a#cookie-know-button:hover {
    color: $gray-500;
    background-color: $white;
}

.cookies-txt a {
    color: $gray-500;
    text-decoration: underline;
}

.cookies-txt a:hover {
    color: $primary;
}

.cookies-a {
    text-align: center;
    a {
        display: block;
        max-width: 200px;
        padding: 10px;
        margin: auto;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        background-color: $secondary-variant;
        cursor: pointer;
        &:hover {
            background-color: $primary;
        }
    }
}

@media (min-width: 768px) {
    .cookies .container {
        display: flex;
        align-items: center;
        // max-width: 960px;
    }
    .cookies-txt {
        display: flex;
        width: calc(100% - 100px);
        padding-right: 20px;
    }
    .cookies .container p {
        margin-bottom: 0;
        font-size: 0.875em;
        line-height: 1.75;
    }
    .cookies-a {
        width: 100px;
        text-align: right;
    }
} 
