.index-page {
    @include breakpoint(768px) {
        min-width: 1288px;
    }
    > .banner {
        min-height: 112px;
        // margin-bottom: 56px;
        @include breakpoint(768px) {
            min-height: 152px;
            // margin-bottom: 155px;
        }
    }
    header {
        .subNav {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $gray-400;
            @include translateY(0);
            li {
                border-left-color: $white;
                a {
                    color: $white;
                    &:hover {
                        color: $gray-500;
                    }
                }
            }
            >ul {
                width: 1280px;
                >li {
                    color: $white;
                    ul {
                        li {
                            a {
                                color: $black;
                                &:hover {
                                    color: $white;
                                    background-color: $black;
                                }
                            }
                        }
                    }    
                }
            }
        }
        .main-header .main-header-body {
            @include breakpoint(768px) {
                width: 1288px;
            }
            .logo a img {
                @include breakpoint(768px) {
                    width: 134px;
                }
            }
        }
    }
    .container {
        @include breakpoint(768px) {
            width: ($index + 40);
        }
    }
    .main {
        padding-top: 20px;
        @include breakpoint(768px) {
            width: ($index + 40);
        }
        article {
            @include breakpoint(768px) {
                width: ($index - 640);
            }
        }
        aside {
            @include breakpoint(max-width 767px) {
                display: none;
                margin-top: 0px;
            }
        }
    }
    footer .footerContent {
        max-width: ($index + 40);
        margin: auto;
    }
}